@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "Yazar Düzenleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("EditWriter", "AdminWriters", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.WriterId)

    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.User.UserFirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserFirstName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.User.UserLastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserLastName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.User.UserEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserEmail, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(x => x.User.UserImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserImage, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Ünvanı")
    @Html.TextBoxFor(x => x.User.UserTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserTitle, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.User.UserAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.User.UserAbout, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-success">Değişiklikleri uygula</button>
    <br />
</div>
}
