@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model IPagedList<User>

@{
    ViewBag.Title = "Yazar Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {

                        <div class="card" style="width: 18rem; margin-left:1em">
                            <img src="@item.UserImage" class="card-img-top" alt="..." style="height: 15em; width: 13em; margin-left: 2.7em; margin-top:1em">
                            <div class="card-body">
                                <h5 class="card-title" style="padding-left:4.5em">@item.UserUsername</h5>
                                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            </div>
                            <ul class="list-group list-group-flush border-top">
                                <li class="list-group-item">Hakkında : @item.UserAbout</li>
                                <li class="list-group-item">Email : @item.UserEmail</li>
                                <li class="list-group-item">Adı Soyadı : @item.UserFirstName @item.UserLastName</li>
                            </ul>
                            <div class="card-body">
                                <a href="/@item.UserUsername/basliklar" class="btn btn-sm bg-teal" style="margin-left: -0.5em">
                                    <i class="fas fa-comments"></i>Yazarın Başlıkları
                                </a>
                                <a href="/admin-profil/yazar-profili-duzenle/@item.UserUsername" class="btn btn-sm btn-primary" style="margin-top: -4.2em; margin-left:9.3em">
                                    <i class="fas fa-user"></i> Profili Düzenle
                                </a>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>



    </section>

    @Html.PagedListPager((IPagedList)Model,
        p => Url.Action("Index",
            new { p })
        ,
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            {
                {"page-link"}
            },
            UlElementClasses = new List<string>
            {
                {"pagination justify-content-center"}
            }
        }
        )


</body>
</html>
