@using BusinessLayer.Concrete

@{


    Layout = null;
    string username = "";

    if (Session["Username"] == null)
    {
        username = "";
    }

    else
    {
        username = Session["Username"].ToString();
    }


}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
    <!-- Searchbar -->
    <link rel="stylesheet" href="~/Content/searchBar.css" />
</head>


<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">




        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/Content/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">MVC Proje Kampı</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->


                @{
                    if (username.Equals(""))
                    {
                        @Html.Action("Logoff", "Homepage")
                    }
                    else
                    {
                        @Html.Action("Logon", "Homepage")
                    }
                }


                <!-- Sidebar Menu -->
                @Html.Action("Sidebar", "Homepage")
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin-top: -0.1em;">
            <!-- Content Header (Page header) -->
            <div class="content-header" >
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="mb-3" >
                            <div class="container d-flex flex-wrap justify-content-center" >

                                @*<form autocomplete="off" action="/Headings/HeadingByHeadingName">

                                        <div class="autocomplete" style="width: 300px;">
                                            <input class="form-control" id="myInput" type="text" name="headingName" placeholder="başlık">
                                        </div>
                                        <button type="submit" class="btn btn-success" style="margin-top:-0.25em"><i class="fas fa-search"></i></button>

                                    </form>*@


                                <div class="search-input">
                                    <a href="" target="_blank" hidden></a>
                                    <input type="text" placeholder="başlık">
                                    <div class="autocom-box">
                                        <!-- here list are inserted from javascript -->
                                    </div>
                                    <div class="icon"><i class="fas fa-search"></i></div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content" >
                @RenderBody()
                <!-- /.container-fluid -->
            </div>

            <!-- /.content -->
        </div>
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a href="/site-hakkinda">Hakkımızda Sayfası</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- /.content-wrapper -->
        <!-- /.content-wrapper -->
    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Jquery -->
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote();
        });


        $(window).on("load",
            function () {
                $.ajax({
                    method: 'GET',
                    url: '/Headings/GetHeadings',
                    success: function (data) {
                        suggestions = data;
                    }
                });
            });

        var searchWrapper = document.querySelector(".search-input");
        var inputBox = searchWrapper.querySelector("input");
        var suggBox = searchWrapper.querySelector(".autocom-box");
        var icon = searchWrapper.querySelector(".icon");
        var linkTag = searchWrapper.querySelector("a");
        var webLink;
        // if user press any key and release
        inputBox.onkeyup = (e) => {
            var userData = e.target.value; //user enetered data
            var emptyArray = [];
            if (userData) {
                emptyArray = suggestions.filter((data) => {
                    //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
                    return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
                });
                emptyArray = emptyArray.map((data) => {
                    // passing return data inside li tag
                    return data = `<li>${data}</li>`;
                });
                searchWrapper.classList.add("active"); //show autocomplete box
                showSuggestions(emptyArray);
                var allList = suggBox.querySelectorAll("li");
                for (let i = 0; i < allList.length; i++) {
                    //adding onclick attribute in all li tag
                    allList[i].setAttribute("onclick", "select(this)");
                }


            } else {
                suggBox.innerHTML = '';
                searchWrapper.classList.remove("active"); //hide autocomplete box
            }
        }
        function select(element) {
            suggBox.innerHTML = '';
            var selectData = element.textContent;
            inputBox.value = selectData;
            icon.onclick = () => {
                window.location.href = `/Headings/HeadingByHeadingName?headingName=${selectData}`;
                linkTag.click();
            }
            searchWrapper.classList.remove("active");
        }
        function showSuggestions(list) {
            var listData;
            if (!list.length) {
                userValue = inputBox.value;
                listData = `<li>${userValue}</li>`;
            } else {
                listData = list.join('');
            }
            suggBox.innerHTML = listData;
        }



    </script>


</body>
</html>
