@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "Yeni Kategory Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori Adı : ")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br /><br />
    @Html.Label("Açıklamayı yazınız")
    @Html.TextAreaFor(x => x.CategoryDescription , new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</div>
}
