
@using EntityLayer.Concrete
@model Content

@{
    ViewBag.Title = "EditContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "Yorumu Düzenle - MVC Proje Kampı";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<title>@ViewBag.Title</title>

@using (Html.BeginForm("EditContent", "AdminContents", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.ContentId)
        @Html.HiddenFor(x=>x.ContentDate)
        @Html.HiddenFor(x=>x.UserId)

        @Html.Label("Yorum")
        @Html.TextBoxFor(x => x.ContentText, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentText, "", new { @class = "text-danger", @style = "font-weight: bold" })
        <br /><br />
        @Html.Label("Oluşturulma Tarihi")
        @Html.TextBoxFor(x => x.ContentDate, new { @class = "form-control", disabled = "disabled", @Value = Model.ContentDate.ToString("dd.MM.yyyy") })
        <br /><br />
        <input type="submit" value="Güncelle" class="btn btn-success" />
    </div>
}


