@using System.Activities.Expressions
@model EntityLayer.DTOs.UserForRegisterDto

@{
    ViewBag.Title = "MVC Proje Kampı Kullanıcı Kaydı";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <!-- Custom Theme files -->
    <link href="~/Content/registration/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>MVC Proje Kampı Kullanıcı Kaydı</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">

                @using (Html.BeginForm("Registration", "Logins", FormMethod.Post))
                {
                    @Html.TextBoxFor(x => x.UserUsername, new { @class = "form-control", placeholder = "Kullanıcı adı" })
                    @Html.ValidationMessageFor(x => x.UserUsername, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control", placeholder = "Email adresi" })
                    @Html.ValidationMessageFor(x => x.UserEmail, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", placeholder = "Şifre" })
                    @Html.ValidationMessageFor(x => x.UserPassword, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.TextBoxFor(x => x.UserFirstName, new { @class = "form-control", placeholder = "Ad" })
                    @Html.ValidationMessageFor(x => x.UserFirstName, "", new { @style = "font-weight: bold; color: darkred; " })
                    <br />
                    <br />
                    @Html.TextBoxFor(x => x.UserLastName, new { @class = "form-control", placeholder = "Soyad" })
                    @Html.ValidationMessageFor(x => x.UserLastName, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.TextBoxFor(x => x.UserImage, new { @class = "form-control", placeholder = "Resim" })
                    @Html.ValidationMessageFor(x => x.UserImage, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.TextBoxFor(x => x.UserTitle, new { @class = "form-control", placeholder = "Ünvan" })
                    @Html.ValidationMessageFor(x => x.UserTitle, "", new { @style = "font-weight: bold; color: darkred;" })
                    <br />
                    <br />
                    @Html.TextAreaFor(x => x.UserAbout, new { @class = "form-control", placeholder = "Hakkında" })
                    @Html.ValidationMessageFor(x => x.UserAbout, "", new { @style = "font-weight: bold; color: darkred;" })


                    @*<input class="text" type="text" name="Username" placeholder="Username" required="">
                        <input class="text email" type="email" name="email" placeholder="Email" required="">
                        <input class="text" type="password" name="password" placeholder="Password" required="">
                        <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">*@
                    @*<div class="wthree-text">
                            <label class="anim">
                                <input type="checkbox" class="checkbox" required="">
                                <span>I Agree To The Terms & Conditions</span>
                            </label>
                            <div class="clear"> </div>
                        </div>*@

                    <br/>
                    <a href="/">Siteye dön</a>

                    <input type="submit" value="Kayıt ol">

                    <a href="/giris-yap"><input type="button" value="Giriş yap"></a>
                }



            </div>
        </div>

    </div>
    <!-- //main -->
</body>
</html>
