<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>

@model EntityLayer.Concrete.About

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Hakkımızda Metin Girişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddAbout", "AdminAbouts", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.Label("Hakkımda başlığı", new { @class = "text-bold" })
                    @Html.TextBoxFor(x => x.AboutHeader, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AboutHeader, "", new { @class = "text-danger" })


                    @Html.Label("Hakkımda Metni", new { @class = "text-bold" })
                    @Html.TextBoxFor(x => x.AboutText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AboutText, "", new { @class = "text-danger" })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            }


        </div>
    </div>
</div>