@using MVCProjeKampi.Models.ViewModels
@using PagedList
@using PagedList.Mvc
@model AboutHomepageViewModel
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}



<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımızda Başlığı</th>
        <th>Diğer</th>
    </tr>
    @foreach (var item in Model.Abouts)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutHeader</td>

            @if (item.AboutStatus)
            {
                <td>
                    <a class="btn btn-success disabled">Aktif Yap</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="disableAbout()" id="disableAboutButton" class="btn btn-danger">Pasif Yap</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/AdminAbouts/EditAbout/@item.AboutId">
                        <button class="btn btn-info">Düzenle</button>
                    </a>
                </td>
            }
            @if (!item.AboutStatus)
            {
                <td>
                    <a href="/AdminAbouts/EnableAbout/@item.AboutId" class="btn btn-success" id="enableAboutButton">Aktif Yap</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger disabled">Pasif Yap</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/AdminAbouts/EditAbout/@item.AboutId">
                        <button class="btn btn-info">Düzenle</button>
                    </a>
                </td>
            }


        </tr>
    }
</table>

<script>

    var disableAbout = function() {
        if (@Model.EnabledAbouts == 1) {

            swal({
                text: "Herhangi bir hakkımızda yazısı kalmayacağı için birinci olan hakkımızda yazısı aktif olacaktır. Onaylıyor musunuz ? ",
                icon: "warning",
                buttons : {
                    accepted : {text : "Evet" , value : true },
                    notAccepted : {text : "Hayır" , value : false}
                }
            }).then((value) => {
                if (value == true) {
                    window.location = "/AdminAbouts/EnableAbout/"+@Model.Abouts.First().AboutId;
                }
            });

        }

    };

</script>


@Html.Action("AboutPartial", "AdminAbouts")

<br />
<br />

@Html.PagedListPager((IPagedList)Model.Abouts,
    p => Url.Action("Index",
        new { p })
    ,
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {
            {"page-link"}
        },
        UlElementClasses = new List<string>
        {
            {"pagination justify-content"}
        }
    }
    )
