@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Content>

@{
    ViewBag.Title = "ContentByHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
    string content = "";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">

    @Html.PagedListPager((IPagedList)Model,
        p => Url.Action("ContentByHeading",
            new { p })
        ,
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            {
                {"page-link"}
            },
            UlElementClasses = new List<string>
            {
                {"pagination justify-content-center"}
            }
        }
        )

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="background-color:lightblue">
                    <div class="card-header">
                        Başlık : <b>@item.Heading.HeadingName</b> <br />
                        Tarih ve Saat : <b>@item.ContentDate.ToShortDateString() @item.ContentDate.ToShortTimeString()</b>
                    </div>
                    <div class="card-body">
                        @{
                            if (item.ContentText.Length > 50)
                            {
                                content = item.ContentText.Substring(0, 50) + "...";
                            }
                            else
                            {
                                content = item.ContentText;
                            }
                        }
                        <p class="card-text">@content</p>
                    </div>

                    @*Başlıkta yorumun direkt üstüne gelmesi ayarlanabilir*@
                    <div class="card-body" style="text-align: center">
                        <a href="/baslik/@item.Heading.HeadingNameForFriendlyUrl" class="btn btn-primary">Başlığa git</a>
                        <a href="/yazar-profil/basligini-duzenle/@item.Heading.HeadingNameForFriendlyUrl" class="btn btn-success">Düzenle</a>
                    </div>
                </div>
            </div>
        }
    </div>



</body>
</html>

