@using MVCProjeKampi.Models.ViewModels
@using PagedList
@using PagedList.Mvc
@model ContentsByHeadingViewModel

@{
    ViewBag.Title = @Model.Heading.HeadingName;
    Layout = "~/Views/Shared/_SiteLayout.cshtml";

}

<h2 style="margin-top:-1em"><b>@Model.Heading.HeadingName</b></h2>

@if (Model.ContentList.Count >= 8)
{
    @Html.PagedListPager((IPagedList)Model.ContentList,
        p => Url.Action("HeadingByHeadingId",
            new { id = @Model.Heading.HeadingId, p })
        ,
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            {
                {"page-link"}
            },
            UlElementClasses = new List<string>
            {
                {"pagination justify-content"}
            }
        }
        )
}



<div style="margin-top:2em">

    @foreach (var item in Model.ContentList)
    {
        <div class="card">
            <div class="card-body">

                <p class="card-text">
                    @item.ContentText
                </p>
                <p class="card-text" style="text-align: right">
                    @item.ContentDate.ToShortDateString() &nbsp; @item.ContentDate.ToShortTimeString() &nbsp; &nbsp; <a href="#">@item.Writer.User.UserUsername</a>
                </p>

            </div>
        </div>
    }

    @if (Session["Username"] == null)
    {

    }
    else
    {

        using (Html.BeginForm("WriteContentOnHeading", "Contents", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.HiddenFor(x => x.Heading.HeadingName)
                @Html.TextAreaFor(x => x.GoingToAddContent.ContentText,
                    new { @class = "form-control", @style = "width: 50em; height: 7em", @placeholder = @Model.Heading.HeadingName + " hakkında yazı yazın." })



                <br />
                <button type="submit" class="btn btn-success">Yolla</button>
            </div>
        }
    }



</div>



    @Html.PagedListPager((IPagedList)Model.ContentList,
        p => Url.Action("HeadingByHeadingId",
            new { id = @Model.Heading.HeadingId, p })
        ,
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            {
                {"page-link"}
            },
            UlElementClasses = new List<string>
            {
                {"pagination justify-content"}
            }
        }
        )





