@using MVCProjeKampi.Models.ViewModels
@model ContentByWriterViewModel

@{
    ViewBag.Title = @Model.Writer.User.UserUsername+" kullanıcısının yazıları";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    int counter = 0;
}

<select class="form-select form-select-sm" style="width: 3em; text-align: left;" aria-label=".form-select-sm example">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select> &nbsp; &nbsp; /

<button class="btn btn-secondary btn-sm" style="height: 1.6em; margin-top: -0.3em; margin-left: 1em; padding-top:0em">5</button>
<button class="btn btn-secondary btn-sm" style="height: 1.6em; margin-top: -0.3em; margin-left: 0em; padding-top:0em">>></button>

<div style="margin-top:2em">

    @foreach (var item in Model.Contents)
    {
        if (counter == 10)
        {
            break;
        }
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/Headings/HeadingByHeadingId/@item.HeadingId">@item.Heading.HeadingName</a>
                </h5>
                <p class="card-text">
                    @item.ContentText
                </p>
                <p class="card-text" style="text-align: right">
                    @item.ContentDate.ToShortDateString() &nbsp; @item.ContentDate.ToShortTimeString() &nbsp; &nbsp; <a href="#">@Model.Writer.User.UserUsername</a>
                </p>

            </div>
        </div>
        counter++;
    }

</div>

