@using MVCProjeKampi.Models.ViewModels
@using PagedList
@using PagedList.Mvc
@model ContentByWriterViewModel

@{
    ViewBag.Title = @Model.Writer.User.UserUsername+" kullanıcısının yazıları";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    int counter = 0;
}

<div style="margin-left:1em">
    @if (Model.Contents.Count >= 8)
    {
        @Html.PagedListPager((IPagedList)Model.Contents,
            p => Url.Action("HeadingByWriterId",
                new { id = Model.Writer.WriterId, p })
            ,
            new PagedListRenderOptions
            {
                LiElementClasses = new List<string>
                {
                    {"page-link"}
                },
                UlElementClasses = new List<string>
                {
                    {"pagination justify-content"}
                }
            }
            )
    }
</div>

<div style="margin-top:2em">

    @foreach (var item in Model.Contents)
    {
        if (counter == 10)
        {
            break;
        }
        <div class="card" style=" margin-left: 1em">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/Headings/HeadingByHeadingId/@item.HeadingId">@item.Heading.HeadingName</a>
                </h5>
                <p class="card-text">
                    @item.ContentText
                </p>
                <p class="card-text" style="text-align: right">
                    @item.ContentDate.ToShortDateString() &nbsp; @item.ContentDate.ToShortTimeString() &nbsp; &nbsp; <a href="#">@Model.Writer.User.UserUsername</a>
                </p>

            </div>
        </div>
        counter++;
    }

</div>

<div style="margin-left: 1em;">
    @Html.PagedListPager((IPagedList)Model.Contents,
        p => Url.Action("HeadingByWriterId",
            new { id = Model.Writer.WriterId, p })
        ,
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string>
            {
                {"page-link"}
            },
            UlElementClasses = new List<string>
            {
                {"pagination justify-content"}
            }
        }
        )
</div>
