@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model IPagedList<Message>
@{
    ViewBag.Title = "Mesaj Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string message = "";
    string draftStarClass = "";
}


    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="/AdminMessages/NewMessage" class="btn btn-primary btn-block mb-3">Yeni Mesaj Oluştur</a>
                @Html.Action("GetContactSideMenu", "AdminContacts")
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Gelen Mesajlar</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Mail kutusunda ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-controls">
                            <br />
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.IsDraft)
                                        {
                                            draftStarClass = "fas fa-star";
                                        }
                                        else
                                        {
                                            draftStarClass = "far fa-star";
                                        }

                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    @if (item.IsOpened)
                                                    {
                                                        <input type="checkbox" value="" id="check1" checked="checked" disabled="disabled">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="" id="check1" disabled="disabled">
                                                    }
                                                    <label for="check1"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-star">

                                                <a href="/AdminMessages/SaveMessageToTheArchive/@item.MessageId">
                                                    <i class="@draftStarClass"></i>
                                                </a>
                                            </td>
                                            <td class="mailbox-name"><a href="/AdminMessages/GetMessageDetails/@item.MessageId">@item.SenderMail</a></td>
                                            <td class="mailbox-subject">

                                                @{
                                                    if (item.MessageContent.Length > 30)
                                                    {
                                                        message = item.MessageContent.Substring(0, 30);
                                                    }
                                                    else
                                                    {
                                                        message = item.MessageContent;
                                                    }
                                                }

                                                <b>@item.Subject</b> - @Html.Raw(message)...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">@item.MessageDate.ToShortDateString()</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer p-0">
                        <div class="mailbox-controls" style="margin-bottom:-1em">

                            @Html.PagedListPager((IPagedList)Model,
                                p => Url.Action("Inbox",
                                    new { p })
                                ,
                                new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    {
                                        {"page-link"}
                                    },
                                    UlElementClasses = new List<string>
                                    {
                                        {"pagination justify-content-center"}
                                    }
                                }
                                )
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


    <!-- Page Script -->
    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false);
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square');
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true);
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square');
                }
                $(this).data('clicks', !clicks);
            })

            //Handle starring for glyphicon and font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find('a > i');
                var glyph = $this.hasClass('glyphicon');
                var fa = $this.hasClass('fa');

                //Switch states
                if (glyph) {
                    $this.toggleClass('glyphicon-star');
                    $this.toggleClass('glyphicon-star-empty');
                }

                if (fa) {
                    $this.toggleClass('fa-star');
                    $this.toggleClass('fa-star-o');
                }
            })
        })
    </script>



