@using EntityLayer.Concrete
@model Heading

@{
    ViewBag.Title = "Başlık güncelleme sayfası";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

}

@using (Html.BeginForm("EditHeading", "WriterHeadings", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.HeadingDate)
        @Html.HiddenFor(x => x.WriterId)
        @Html.HiddenFor(x=>x.CategoryId)

        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.HeadingName,"",new {@class="text-danger"})
        <br />
        @Html.Label("Oluşturulma Tarihi")
        @Html.TextBoxFor(x=>x.HeadingDate, new { @class = "form-control", disabled="disabled", @Value = Model.HeadingDate.ToString("dd.MM.yyyy") })
        <br />
        @Html.Label("Kategori")
        @Html.TextBoxFor(x => x.CategoryId, new { @disabled = "@disabled", @class = "form-control" })
        <br />
        <input type="submit" value="Güncelle" class="btn btn-success"/>
    </div>
}

