
@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "Yeni Başlık Ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@using (Html.BeginForm("AddHeading", "AdminHeadings", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName , "" , new {@class="text-danger", @style = "font-weight: bold" })
        <br />
        @Html.Label("Kategori ")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories,new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Başlık Ekle</button>
        <br />
    </div>
}
